.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container{
  padding: 150px 210px;
}
.main-container{
  justify-content: space-between;

}
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 194, 235);
  height: 650px;
  width: 650px;
}
.name{
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, rgb(3, 177, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Social-media{
  padding: 100px 170px ;
}
.btn{
  background-color:rgb(14, 194, 235) ;
  border: 1px solid lightgray;
  color: white;
  padding: 4px 10px;
  margin-top: 10px;
  border-radius: 2px;
  
}
.btn:hover{
  cursor: pointer;
}
.g-btn:hover{
  cursor: pointer;
}